<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devoured}}Devoured alredy!{{else}}Eat it!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Throw it!</button>
</li>
